@{
    ViewData["Title"] = "Home";
}


<div class="row">
   
    <div class="col-md-3">
        <h2>Home</h2>

        <form>
            <div class="row">
                <div class="col row="5">
                    <h3> Status </h3>
                    <textarea class="form-control"> </textarea>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </div>
        </form>

    </div>
   
</div>
